* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.824);
}

h2 {
  color: aliceblue;
}

#date {
  border: 0cap;
  border-radius: 10px;
  height: 30px;
  width: 150px;
  font-size: large;
  padding: 10px;
  background-color: rgba(121, 114, 114, 0.445);
  color: aliceblue;

}

#date,
#contents {
  margin: 1%;
  margin-bottom: 10px;
}

.contentsContainer {
  border: 1px solid;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  color: aliceblue;
}

.title {
  font-size: 30px;
  padding-right: 20px;
}

.input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  margin-left: -10px;
}

#inputTitle {
  height: 50px;
  font-size: 50px;
}

#inputText {
  margin-top: 10px;
  border-radius: 15px;
  border-color: rgba(121, 114, 114, 0.445);
  height: 550px;
  font-size: 30px;
  resize: none;
}

.btn {
  border: 0cap;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  background-color: rgba(121, 114, 114, 0.445);
  color: aliceblue;
}
